li {
    color: rgb(109, 114, 112);
}

.header {
    padding: 60px;
    text-align: center;
    background: #575c5b;
    color: white;
  }

.navigation {
    background-color: rgb(247, 243, 238);
}

#navigation {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
  }

  .navbar {
    display: flex;
    background-color: rgb(109, 114, 112);
  }

.logo {
    width: 23%;
    padding: 1%;
   image-orientation: center;
}


#ul {
    width: 50%;
    margin-left: auto;
}

#heroImg {
    height: 500px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

footer {
    background-color: rgb(109, 114, 112);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#categoryGrid {
    grid-template-rows: 300px 300px 300px 
    grid-template-columns: 1fr;

}

section {
  display: flex;
}
